# Introducción a Python

En Python, podemos utilizar todos los tipos primitivos que conocemos normalmente: int, double, float, string, etc. Pero para asignarlos a una variable, no es necesario decir qué tipo de dato será.

Para saber el tipo que tiene alguna variable se utiliza `type`.

In [1]:
num = 3
decimal = 3.2
string = 'Hola'

In [2]:
type(num)

int

In [3]:
type(decimal)

float

In [4]:
type(string)

str

También podemos imprimir las variables con print(), hacer operaciones y concatenar texto. Se puede concatenar texto utilizando + o una coma. Además, se puede hacer operaciones antes de imprimir.

In [5]:
print("Int:",num+2)
print("Float: "+ str(decimal))
print("Estos "+"son "+"strings: "+string)

Int: 5
Float: 3.2
Estos son strings: Hola

La diferencia entre `,` y `+` es que la `,` agrega un espacio en medio, y no se necesita convertir todo a String

Con los Strings tambieén se pueden hacer operacines.

In [6]:
string*3

'HolaHolaHola'

In [7]:
(string*3).replace('a','e')

'HoleHoleHole'

## Operaciones

In [8]:
2+2

4

In [9]:
2-3

-1

In [10]:
4*4

16

In [11]:
4**4

256

In [12]:
5%2

1

In [13]:
abs(-5)

5

In [14]:
str(3)

'3'

In [15]:
'Hola'*2

'HolaHola'

In [16]:
'Hola '+'Adios'

'Hola Adios'

In [17]:
int('2')

2

In [18]:
float('2.4')

2.4

Utilizando estas operaciones se pueden hacer cosas interesantes como imprimir números muy grandes.

In [19]:
int('1'+'0'*100)

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

## Listas

Las listas se definen utilizando corchetes y se les puede agregar cualquier tipo de objeto.

In [20]:
lista = []
type(lista)

list

In [21]:
lista=[1,2.0, "3"]
print(lista)

[1, 2.0, '3']

Para acceder a los valores de la lista, se utilizan corchetes. Recuerden que los indices comienzan en 0.

In [22]:
lista[2]

'3'

Para medir la longitud de la lista, se utiliza `len`.

In [23]:
len(lista)

3

Para agregar nuevos elementos se utiliza `append`.

In [24]:
lista.append(4)
print(lista)

[1, 2.0, '3', 4]

Y podemos accesar a solamente un *slice* de la lista.

In [25]:
lista[1:3]

[2.0, '3']

In [26]:
lista[:2]

[1, 2.0]

In [27]:
lista[1:]

[2.0, '3', 4]

In [28]:
lista[::2]

[1, '3']

Al igual que con los strings, se pueden sumar las listas.

In [29]:
lista+lista

[1, 2.0, '3', 4, 1, 2.0, '3', 4]

Y para obtener un conjunto de valores únicos utlizamos `set`

In [30]:
set(lista+lista)

{1, 2.0, 4, '3'}

In [31]:
type(set(lista+lista))

set

In [32]:
"Estamos aprendiendo Python"[8:]

'aprendiendo Python'

## Booleanos

In [33]:
# Igualdad
print("1 == 1: ", 1 == 1)
print("1 != 1: ", 1 != 1)
print("1 <= 2: ", 1 <= 2)
print("1 >= 2: ", 1 >= 2)
print("1 < 2: ", 1 < 2)
print("1 > 2: ", 1 > 2)
print("hola >= hola: ","hola" >= "hola")
print("'hola' in 'hola': ","hola" in "hola")

1 == 1:  True
1 != 1:  False
1 <= 2:  True
1 >= 2:  False
1 < 2:  True
1 > 2:  False
hola >= hola:  True
'hola' in 'hola':  True

In [34]:
print('True & True: ', True & True)
print('True & False: ', True & False)
print('False & False: ', False & False)
print('True | True: ', True | True)
print('True | False: ', True | False)
print('False | False: ', False | False)

True & True:  True
True & False:  False
False & False:  False
True | True:  True
True | False:  True
False | False:  False

También se pueden utilizar `or` y `and`.

In [35]:
True or False

True

In [36]:
True and False

False

## Condicionales y ciclos

Podemos utilizar los los condicionales y los ciclos normales: `if`, `for` y `while`.

In [37]:
if True:
    print('if')
elif True:
    print('elif')
else:
    print('else')

if

Dos ejemplos de objetos iterables son la función `range` y una lista.

In [38]:
range(0,10)

range(0, 10)

In [39]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [40]:
for i in lista:
    print(i)

1
2.0
3
4

In [41]:
n=10
while n>=3:
    print(n)
    n-=1

10
9
8
7
6
5
4
3

En Python se pueden crear listas directamente con un ciclo.

In [42]:
[i for i in range(0,10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
type([i for i in range(0,10)])

list

In [44]:
[i**2 for i in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## Funciones

In [45]:
def cuadrado(x):
    return x**2
cuadrado(3)

9

In [46]:
def potencia_n(x,n):
    return x**n
potencia_n(2,4)

16

In [47]:
def imprime_lista(lista):
    for i in lista:
        print(i)
imprime_lista([1,2,3,4,5,6,7,8,9,0])

1
2
3
4
5
6
7
8
9
0

#### Ejercicio

Haz una funcion que reciba una lista de nombres de personas e imprima una lista de los nombres que contienen una 'a'.

Nota: la 'a' que debe de contener no importa si es mayuscula o minuscula.

In [48]:
def nombres_con_a(lista):
    lista_res=[]
    for i in lista:
        if ('a' in i or 'A' in i):
            lista_res.append(i) 
    return lista_res
nombres_con_a(['Dan', 'Andrea', 'Eyal', 'Diego', 'Jose', 'Daniela'])

['Dan', 'Andrea', 'Eyal', 'Daniela']

## Diccionarios

In [49]:
dic = {}
type(dic)

dict

In [50]:
dic = {'llave 1':'valor 1', 'llave 2':'valor 2'}

In [51]:
dic

{'llave 1': 'valor 1', 'llave 2': 'valor 2'}

In [52]:
dic['llave 1']

'valor 1'

Los diccionarios tienen dos listas principales: llaves (`keys`) y valores (`values`).

In [53]:
dic.keys()

dict_keys(['llave 1', 'llave 2'])

In [54]:
dic.values()

dict_values(['valor 1', 'valor 2'])

In [55]:
calificaciones = {'Juan':7,
                  'Pedro':8,
                  'Jose':6,
                  'Gabriel':10}
for i in calificaciones.keys():
    print('La calificación de',i,'es',calificaciones[i])

La calificación de Juan es 7
La calificación de Pedro es 8
La calificación de Jose es 6
La calificación de Gabriel es 10

## Archivos

En Python, según lo que queramos hacer con el archivo, hay varias cosas diferentes que se pueden hacer. Pero siempre lo primero que se debe de hacer es abrir el archivo.

In [56]:
archivo = open('./data/nombres.txt')
type(archivo)

_io.TextIOWrapper

Después de utilizar el archivo, se debe de cerrar.

In [57]:
archivo.close()

### Lectura

In [58]:
archivo = open('./data/nombres.txt')
nombres = archivo.read()
archivo.close()
nombres

'Juan\nAndrea\nPedro\nEsther\nJose\nRicardo\nElias'

In [59]:
print(nombres)

Juan
Andrea
Pedro
Esther
Jose
Ricardo
Elias

En los archivos, las lineas diferentes se pueden ver con `\n` por eso, tenemos que utilizar `split` plara limpiarlo y convertirlo en una lista.

In [60]:
nombres.split('\n')

['Juan', 'Andrea', 'Pedro', 'Esther', 'Jose', 'Ricardo', 'Elias']

Otra manera de leer el archivo es como una lista de renglones con `readlines`.

In [61]:
archivo = open('./data/nombres.txt')
nombres = archivo.readlines()
archivo.close()
nombres

['Juan\n', 'Andrea\n', 'Pedro\n', 'Esther\n', 'Jose\n', 'Ricardo\n', 'Elias']

Por último, se puede utilizar `with` para no tener que cerrar el archivo.

In [62]:
with open('./data/nombres.txt') as archivo:
    nombres = archivo.readlines()
nombres

['Juan\n', 'Andrea\n', 'Pedro\n', 'Esther\n', 'Jose\n', 'Ricardo\n', 'Elias']

### Escritura

Para escribir en un archivo, se tiene que utilizar `'w'` para escribirlo desde cero o `'a'` para agregar cosas.

In [63]:
with open('./data/arch.txt','w') as f:
    f.write('Hola')

In [64]:
with open('./data/arch.txt','w') as f:
    f.write('Adios')

In [65]:
with open('./data/arch.txt','a') as f:
    f.write('Hola')

Recuerden agregar `\n` para hacer saltos de linea.

## Ejercicio

Busquen un archivo de texto con La Iliada en http://www.gutenberg.org/cache/epub/2199/pg2199.txt.
* ¿Cuántas palabras tiene en total?
* ¿Cuántas palabras son únicas?

In [66]:
with open('./data/iliada.txt') as f:
    iliada = f.read().replace(',','').replace('.','').split()

In [67]:
len(iliada)

155731

In [68]:
palabras_iliada = set(iliada)
len(palabras_iliada)

10882

# Pandas y Matplotlib

Ya sabiendo utilzar Python básico, podemos comenzar a utilizar una de las librerías que más se utilizan para manejar datos y otra para visualización de datos.

In [101]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

## Series y DataFrames

In [70]:
pd.Series({'a':[1,2,3,4,5,6]})

a    [1, 2, 3, 4, 5, 6]
dtype: object

In [71]:
pd.DataFrame({'a':[1,2,3,4,5], 'b':[5,4,3,2,1]})

   a  b
0  1  5
1  2  4
2  3  3
3  4  2
4  5  1

In [72]:
indices = ['a','b','c','d']
columns = [1,2,3,4,5]
df = pd.DataFrame(index=indices,columns=columns)
df

     1    2    3    4    5
a  NaN  NaN  NaN  NaN  NaN
b  NaN  NaN  NaN  NaN  NaN
c  NaN  NaN  NaN  NaN  NaN
d  NaN  NaN  NaN  NaN  NaN

In [73]:
df.fillna(0)

   1  2  3  4  5
a  0  0  0  0  0
b  0  0  0  0  0
c  0  0  0  0  0
d  0  0  0  0  0

## Trabajando con datos

Bajen el DataSet de futbol de https://www.kaggle.com/tadhgfitzgerald/fifa-international-soccer-mens-ranking-1993now y pongan el archivo CSV en la misma carpeta en que están trabajando.

In [74]:
fifa = pd.read_csv('./data/fifa_ranking.csv')
fifa.head(5)

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [75]:
fifa.set_index('rank', inplace = True)
fifa.head()

,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
rank,,,,,,,,,,,,,,,
1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [76]:
fifa.columns

Index(['country_full', 'country_abrv', 'total_points', 'previous_points',
       'rank_change', 'cur_year_avg', 'cur_year_avg_weighted', 'last_year_avg',
       'last_year_avg_weighted', 'two_year_ago_avg', 'two_year_ago_weighted',
       'three_year_ago_avg', 'three_year_ago_weighted', 'confederation',
       'rank_date'],
      dtype='object')

In [77]:
fifa['country_full'].head()

rank
1        Germany
2          Italy
3    Switzerland
4         Sweden
5      Argentina
Name: country_full, dtype: object

In [78]:
fifa.iloc[2]

country_full               Switzerland
country_abrv                       SUI
total_points                         0
previous_points                     50
rank_change                          9
cur_year_avg                         0
cur_year_avg_weighted                0
last_year_avg                        0
last_year_avg_weighted               0
two_year_ago_avg                     0
two_year_ago_weighted                0
three_year_ago_avg                   0
three_year_ago_weighted              0
confederation                     UEFA
rank_date                   1993-08-08
Name: 3, dtype: object

In [79]:
fifa.iloc[12:32:2]

,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
rank,,,,,,,,,,,,,,,
13,Spain,ESP,0.0,49,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
15,RCS,TCH,0.0,47,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
17,Nigeria,NGA,0.0,49,-4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
19,Colombia,COL,0.0,36,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08
21,Romania,ROU,0.0,51,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
23,Portugal,POR,0.0,38,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
25,Zambia,ZAM,0.0,38,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
27,Wales,WAL,0.0,40,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
29,Côte d'Ivoire,CIV,0.0,41,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
31,Tunisia,TUN,0.0,35,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08

In [80]:
fifa.loc[12].head()

,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
rank,,,,,,,,,,,,,,,
12,France,FRA,0.0,45,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
12,Argentina,ARG,0.0,56,-7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-09-23
12,Romania,ROU,0.0,52,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-11-19
12,Switzerland,SUI,0.0,55,-3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-12-23
12,England,ENG,0.0,54,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1994-02-15

In [81]:
fifa.loc[12, 'country_abrv'].head()

rank
12    FRA
12    ARG
12    ROU
12    SUI
12    ENG
Name: country_abrv, dtype: object

In [82]:
fifa.rename(columns={'country_full':'pais_f', 'country_abrv':'pais_a'}).head()

,pais_f,pais_a,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
rank,,,,,,,,,,,,,,,
1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [83]:
fifa.head(5)

,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
rank,,,,,,,,,,,,,,,
1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [84]:
fifa[['country_full','country_abrv']].head()

     country_full country_abrv
rank
1         Germany          GER
2           Italy          ITA
3     Switzerland          SUI
4          Sweden          SWE
5       Argentina          ARG

In [85]:
fifa.index < 3

array([ True,  True, False, ..., False, False, False])

In [86]:
fifa['country_abrv']=='MEX'

rank
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14      True
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
       ...
182    False
183    False
184    False
185    False
186    False
186    False
188    False
188    False
190    False
190    False
192    False
192    False
194    False
195    False
195    False
197    False
197    False
199    False
200    False
201    False
202    False
203    False
204    False
204    False
206    False
206    False
206    False
206    False
206    False
206    False
Name: country_abrv, Length: 57793, dtype: bool

In [87]:
fifa['rank_date']=fifa['rank_date'].astype('datetime64')

In [88]:
fifa['year']=fifa['rank_date'].apply(lambda x: x.year)

In [89]:
fifa['year']

rank
1      1993
2      1993
3      1993
4      1993
5      1993
6      1993
7      1993
8      1993
9      1993
10     1993
11     1993
12     1993
13     1993
14     1993
15     1993
16     1993
17     1993
18     1993
19     1993
20     1993
21     1993
22     1993
23     1993
24     1993
25     1993
26     1993
27     1993
28     1993
29     1993
30     1993
       ...
182    2018
183    2018
184    2018
185    2018
186    2018
186    2018
188    2018
188    2018
190    2018
190    2018
192    2018
192    2018
194    2018
195    2018
195    2018
197    2018
197    2018
199    2018
200    2018
201    2018
202    2018
203    2018
204    2018
204    2018
206    2018
206    2018
206    2018
206    2018
206    2018
206    2018
Name: year, Length: 57793, dtype: int64

In [90]:
fifa.drop(columns='year').head()

,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
rank,,,,,,,,,,,,,,,
1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [91]:
mex=fifa[(fifa['country_abrv']=='MEX') & (fifa['year']>2000)]
mex.head()

,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date,year
rank,,,,,,,,,,,,,,,,
12,Mexico,MEX,0.0,693,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2001-01-17,2001
12,Mexico,MEX,0.0,691,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2001-02-14,2001
12,Mexico,MEX,0.0,688,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2001-03-14,2001
13,Mexico,MEX,0.0,684,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2001-04-11,2001
13,Mexico,MEX,0.0,681,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2001-05-16,2001

In [92]:
mex=mex.sort_values(by='rank_date')
mex.head()

,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date,year
rank,,,,,,,,,,,,,,,,
12,Mexico,MEX,0.0,693,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2001-01-17,2001
12,Mexico,MEX,0.0,691,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2001-02-14,2001
12,Mexico,MEX,0.0,688,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2001-03-14,2001
13,Mexico,MEX,0.0,684,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2001-04-11,2001
13,Mexico,MEX,0.0,681,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2001-05-16,2001

Para hacer gráficas, utilizamos matplotlib.

In [93]:
plt.plot(mex['rank_date'], mex.index)
plt.show()

## Agrupación

In [94]:
fifa.groupby('year').head(5)

,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date,year
rank,,,,,,,,,,,,,,,,
1,Germany,GER,0.00,57,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1993-08-08,1993
2,Italy,ITA,0.00,57,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1993-08-08,1993
3,Switzerland,SUI,0.00,50,9,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1993-08-08,1993
4,Sweden,SWE,0.00,55,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1993-08-08,1993
5,Argentina,ARG,0.00,51,5,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,CONMEBOL,1993-08-08,1993
1,Germany,GER,0.00,59,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1994-02-15,1994
2,Brazil,BRA,0.00,58,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,CONMEBOL,1994-02-15,1994
3,Netherlands,NED,0.00,56,4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1994-02-15,1994
4,Denmark,DEN,0.00,57,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1994-02-15,1994
5,Norway,NOR,0.00,57,-1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1994-02-15,1994
1,Brazil,BRA,0.00,67,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,CONMEBOL,1995-02-20,1995
2,Spain,ESP,0.00,61,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1995-02-20,1995
3,Italy,ITA,0.00,61,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1995-02-20,1995
4,Sweden,SWE,0.00,61,-1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1995-02-20,1995
5,Germany,GER,0.00,61,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1995-02-20,1995
1,Brazil,BRA,0.00,68,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,CONMEBOL,1996-01-24,1996
2,Germany,GER,0.00,61,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1996-01-24,1996
3,Italy,ITA,0.00,61,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1996-01-24,1996
4,Spain,ESP,0.00,59,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1996-01-24,1996
5,Russia,RUS,0.00,58,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1996-01-24,1996
1,Brazil,BRA,0.00,68,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,CONMEBOL,1997-02-27,1997
2,Germany,GER,0.00,64,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1997-02-27,1997
3,France,FRA,0.00,61,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1997-02-27,1997
4,Denmark,DEN,0.00,60,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1997-02-27,1997
5,Colombia,COL,0.00,61,-1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,CONMEBOL,1997-02-27,1997
1,Brazil,BRA,0.00,73,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,CONMEBOL,1998-02-18,1998
2,Germany,GER,0.00,65,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1998-02-18,1998
3,Czech Republic,CZE,0.00,64,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1998-02-18,1998
4,Mexico,MEX,0.00,60,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,CONCACAF,1998-02-18,1998
5,England,ENG,0.00,61,-1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,1998-02-18,1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,Spain,ESP,1605.76,1606,0,830.72,830.72,610.39,305.20,1044.29,313.29,782.76,156.55,UEFA,2013-01-17,2013
2,Germany,GER,1437.49,1437,0,765.86,765.86,607.88,303.94,926.92,278.07,448.10,89.62,UEFA,2013-01-17,2013
3,Argentina,ARG,1289.95,1290,0,733.76,733.76,425.62,212.81,827.70,248.31,475.37,95.07,CONMEBOL,2013-01-17,2013
4,Italy,ITA,1164.67,1165,0,633.64,633.64,619.46,309.73,395.30,118.59,513.56,102.71,UEFA,2013-01-17,2013
5,Colombia,COL,1163.55,1164,0,794.27,794.27,446.83,223.41,184.48,55.34,452.66,90.53,CONMEBOL,2013-01-17,2013
1,Spain,ESP,1507.03,1507,0,699.69,699.69,830.72,415.36,610.39,183.12,1044.29,208.86,UEFA,2014-01-16,2014
2,Germany,GER,1317.51,1318,0,566.83,566.83,765.86,382.93,607.88,182.37,926.92,185.38,UEFA,2014-01-16,2014
3,Argentina,ARG,1251.01,1251,0,590.90,590.90,733.76,366.88,425.62,127.69,827.70,165.54,CONMEBOL,2014-01-16,2014
4,Colombia,COL,1200.39,1200,0,632.31,632.31,794.27,397.14,446.83,134.05,184.48,36.90,CONMEBOL,2014-01-16,2014
5,Portugal,POR,1172.48,1172,0,611.29,611.29,573.67,286.83,561.05,168.32,530.21,106.04,UEFA,2014-01-16,2014
1,Germany,GER,1725.29,1725,0,1090.54,1090.54,566.83,283.42,765.86,229.76,607.88,121.58,UEFA,2015-01-08,2015
2,Argentina,ARG,1538.29,1538,0,937.59,937.59,590.90,295.45,733.76,220.13,425.62,85.12,CONMEBOL,2015-01-08,2015
3,Colombia,COL,1449.77,1450,0,805.97,805.97,632.31,316.15,794.27,238.28,446.83,89.37,CONMEBOL,2015-01-08,2015
4,Belgium,BEL,1417.27,1417,0,849.03,849.03,652.93,326.46,542.17,162.65,395.59,79.12,UEFA,2015-01-08,2015
5,Netherlands,NED,1374.24,1374,0,884.29,884.29,527.71,263.86,428.54,128.56,487.68,97.54,UEFA,2015-01-08,2015
1,Belgium,BEL,1493.77,1494,0,764.94,764.94,849.03,424.52,652.93,195.88,542.17,108.43,UEFA,2016-01-07,2016
2,Argentina,ARG,1455.47,1455,0,662.66,662.66,937.59,468.79,590.90,177.27,733.76,146.75,CONMEBOL,2016-01-07,2016
3,Spain,ESP,1369.63,1370,0,783.37,783.37,420.42,210.21,699.69,209.91,830.72,166.14,UEFA,2016-01-07,2016
4,Germany,GER,1347.15,1347,0,478.66,478.66,1090.54,545.27,566.83,170.05,765.86,153.17,UEFA,2016-01-07,2016
5,Chile,CHI,1268.85,1273,0,763.35,763.35,523.75,261.87,627.18,188.15,277.33,55.47,CONMEBOL,2016-01-07,2016
1,Argentina,ARG,1634.02,1634,0,903.24,903.24,662.66,331.33,937.59,281.28,590.90,118.18,CONMEBOL,2017-01-12,2017
2,Brazil,BRA,1544.05,1544,0,879.22,879.22,584.70,292.35,796.05,238.81,668.33,133.67,CONMEBOL,2017-01-12,2017
3,Germany,GER,1432.54,1433,0,752.68,752.68,478.66,239.33,1090.54,327.16,566.83,113.37,UEFA,2017-01-12,2017
4,Chile,CHI,1403.96,1404,0,739.73,739.73,763.35,381.68,523.75,157.12,627.18,125.44,CONMEBOL,2017-01-12,2017
5,Belgium,BEL,1367.77,1368,0,600.01,600.01,764.94,382.47,849.03,254.71,652.93,130.59,UEFA,2017-01-12,2017
1,Germany,GER,1601.91,1602,0,863.86,863.86,752.68,376.34,478.66,143.60,1090.54,218.11,UEFA,2018-01-18,2018
2,Brazil,BRA,1482.53,1483,0,708.30,708.30,879.22,439.61,584.70,175.41,796.05,159.21,CONMEBOL,2018-01-18,2018
3,Portugal,POR,1357.89,1358,0,744.16,744.16,617.85,308.92,635.88,190.76,570.26,114.05,UEFA,2018-01-18,2018
4,Argentina,ARG,1348.36,1348,0,510.42,510.42,903.24,451.62,662.66,198.80,937.59,187.52,CONMEBOL,2018-01-18,2018
5,Belgium,BEL,1325.29,1325,0,626.00,626.00,600.01,300.00,764.94,229.48,849.03,169.81,UEFA,2018-01-18,2018

In [95]:
fifa.groupby('year').mean().head()

,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted
year,,,,,,,,,,,
1993,0.0,21.554361,-0.072879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1994,0.0,21.917245,-0.142361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1995,0.0,23.567522,-0.044643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,0.0,25.881971,-0.028154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,0.0,28.939457,-0.008873,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [96]:
fifa.groupby(by=['year','country_full']).mean().head()

                          total_points  previous_points  rank_change  \
year country_full
1993 Albania                       0.0             15.2         -1.2
     Algeria                       0.0             40.6         -1.0
     Angola                        0.0             13.0          0.0
     Antigua and Barbuda           0.0              6.4         -1.6
     Argentina                     0.0             54.4          0.4

                          cur_year_avg  cur_year_avg_weighted  last_year_avg  \
year country_full
1993 Albania                       0.0                    0.0            0.0
     Algeria                       0.0                    0.0            0.0
     Angola                        0.0                    0.0            0.0
     Antigua and Barbuda           0.0                    0.0            0.0
     Argentina                     0.0                    0.0            0.0

                          last_year_avg_weighted  two_year_ago_avg  \
year country_full
1993 Albania                                 0.0               0.0
     Algeria                                 0.0               0.0
     Angola                                  0.0               0.0
     Antigua and Barbuda                     0.0               0.0
     Argentina                               0.0               0.0

                          two_year_ago_weighted  three_year_ago_avg  \
year country_full
1993 Albania                                0.0                 0.0
     Algeria                                0.0                 0.0
     Angola                                 0.0                 0.0
     Antigua and Barbuda                    0.0                 0.0
     Argentina                              0.0                 0.0

                          three_year_ago_weighted
year country_full
1993 Albania                                  0.0
     Algeria                                  0.0
     Angola                                   0.0
     Antigua and Barbuda                      0.0
     Argentina                                0.0

# Ejercicios Tarea

Utilizando el texto de la Iliada:
* ¿Cuáles son las 10 palabras más utilizadas en la Iliada?
* ¿Cuáles son las 10 palabras con más letras?

Utilizando el DataSet de fifa:
* ¿Cuáles son los 10 países que han cambiado de rango más de un año para el siguiente?
* ¿Cuántos países han logrado llegar a los primeros 10 rangos más de una vez?

# Redes Neuronales Artificiales 

### Que son?

Comunmente conocidas como __Redes Neuronales__, podemos definirlas simplemente como:


_"... un sistema de computación compuesto por una serie de elementos de procesamiento simples y altamente interconectados, que procesan información mediante su respuesta de estado dinámico a entradas externas."_ - __Dr. Robert Hecht-Nielsen.__

Las Redes Neuoronales Artificiales(ANN), son dispositivos de procesamiento (algoritmos o hardware) que estan modelados de una manera _holgada_ y de mucho menor escala con la estructura de la corteza cerebral de los mamiferos. Una ANN muy grande puede tener cientos o miles de unidades de procesamiento mientras que el cerebro de un mamifero tiene miles de millones de neuronas con un incremento importante dependiendo de la interaccion o la actividad que se este realizando.

Al dia de hoy hemos podido replicar el comportamiento de la retina de una manera muy correcta aunque aun estamos lejos de hacerlo al 100%.

Entendamos que hay componente matematico muy importante y de alto nivel detras de las ANN, sin embargo un buen desarrollador no necesariamiente tiene que comprenderlo todo para poder entender las arquitecturas de las diversas ANN.

### Lo basico

Las __ANN__ comunmente estan organizadas en capaz/layers. Los **layers** estan compuestos por un numero de **nodos** que contienen un **activation function**. Los patrones son presentados a la **ANN** via el **input layer**, el cual le comunica a los **hidden layers** donde se hara el procesamiento via el sistema de conecciones ponderadas. Los **hidden layers** se conectan al **output layer** en donde el resultado del proceso se muestra.

<img src='./img/ANN.jpg'>

La mayoría de las **ANN** contienen alguna forma de "regla de aprendizaje/learning rule" que modifica los pesos de las conexiones según los patrones de entrada con los que se presenta. En cierto sentido, las **ANN** aprenden con el ejemplo al igual que sus contrapartes biológicas; Un niño aprende a reconocer perros de ejemplos de perros.

Aunque existen muchos tipos diferentes de reglas de aprendizaje utilizadas por las redes neuronales, esta demostración se ocupa solo de una; La regla delta. La regla delta a menudo es utilizada por la clase más común de **ANN** denominadas 'redes neuronales de contraportación/backpropagation' (BPNN). Backpropagation es una abreviatura para la propagación del error hacia atrás.

Con la regla delta, al igual que con otros tipos de propagación hacia atrás/__backpropagation__, el "aprendizaje" es un proceso supervisado que ocurre con cada ciclo o "época/epoch" (es decir, cada vez que la red se presenta con un nuevo patrón de entrada) a través de un flujo de activación de salidas hacia adelante. y la propagación de errores hacia atrás de los ajustes de peso. Más simplemente, cuando una red neuronal se presenta inicialmente con un patrón, hace una "suposición" al azar de lo que podría ser. Luego ve qué tan lejos estaba su respuesta de la real y hace un ajuste apropiado a sus pesos de conexión. Más gráficamente, el proceso se ve algo así:

<img src='./img/Backpropagation-Learning.png'>

También ten en cuenta que dentro de cada nodo de capa oculta hay una función de activación sigmoidal/__sigmoidal activation__ que polariza la actividad de la red y la ayuda a estabilizarse.

La propagación hacia atrás/__backpropagation__ realiza un descenso de gradiente dentro del espacio vectorial de la solución hacia un "mínimo global/__global minimum__" a lo largo del vector más empinado de la superficie de error. El mínimo global/__global minimum__ es esa solución teórica con el menor error posible. La superficie del error en sí es un hiperparaboloide, pero rara vez es "suave" como se muestra en el gráfico a continuación. De hecho, en la mayoría de los problemas, el espacio de la solución es bastante irregular con numerosos "pozos" y "colinas" que pueden hacer que la red se establezca en un "mínimo local" que no es la mejor solución general.

<img src='./img/delta_rule.gif'>
<img src='./img/bprop.png'>

Dado que la naturaleza del espacio de error no se puede conocer a priori, el análisis de redes neuronales a menudo requiere un gran número de ejecuciones individuales para determinar la mejor solución. La mayoría de las reglas de aprendizaje tienen términos matemáticos incorporados para ayudar en este proceso que controla la "velocidad" (Beta-coeficiente) y el "impulso" del aprendizaje. La velocidad de aprendizaje es en realidad la tasa de convergencia entre la solución actual y el mínimo global. Momentum ayuda a la red a superar obstáculos (mínimos locales) en la superficie del error y se establece en o cerca del mínimo global.

Una vez que una red neuronal se "entrena" a un nivel satisfactorio, se puede utilizar como una herramienta analítica en otros datos. Para hacer esto, el usuario ya no especifica ninguna ejecución de capacitación y, en cambio, permite que la red funcione solo en modo de propagación hacia adelante. Las nuevas entradas se presentan al patrón de entrada donde se filtran y son procesadas por las capas intermedias como si el entrenamiento se llevara a cabo, sin embargo, en este punto, la salida se conserva y no se produce ninguna propagación hacia atrás. La salida de una ejecución de propagación hacia adelante es el modelo predicho para los datos que luego se pueden utilizar para un análisis e interpretación adicional.

También es posible sobreentrenar una red neuronal, lo que significa que la red ha sido entrenada exactamente para responder a un solo tipo de entrada; que es muy parecido a la memorización de memoria. Si esto sucede, el aprendizaje ya no puede ocurrir y se hace referencia a la red como "abuela" en la jerga de la red neuronal. En aplicaciones del mundo real, esta situación no es muy útil, ya que se necesitaría una red de abuelas separada para cada nuevo tipo de entrada.

### Diferencias entre las ANN y la computación convencional?

Para comprender mejor la computación neuronal artificial, es importante saber primero cómo una computadora 'serial' convencional y su información de proceso de software. Una computadora en serie tiene un procesador central que puede abordar un conjunto de ubicaciones de memoria donde se almacenan los datos y las instrucciones. Los cálculos se realizan mediante la lectura de una instrucción por parte del procesador, así como los datos que la instrucción requiere de las direcciones de memoria, la instrucción se ejecuta y los resultados se guardan en una ubicación de memoria específica, según sea necesario. En un sistema en serie (y uno paralelo estándar también) los pasos computacionales son deterministas, secuenciales y lógicos, y el estado de una variable dada puede rastrearse de una operación a otra.

En comparación, las ANN no son secuenciales ni necesariamente deterministas. No hay procesadores centrales complejos, sino que hay muchos procesadores simples que generalmente no hacen más que tomar la suma ponderada de sus aportes de otros procesadores. Las ANN no ejecutan instrucciones programadas; responden en paralelo (simulado o real) al patrón de entradas que se le presentan. Tampoco hay direcciones de memoria separadas para almacenar datos. En su lugar, la información está contenida en el estado de activación general de la red. El "conocimiento" está representado por la propia red, que es, literalmente, más que la suma de sus componentes individuales.

### En que se usan las ANN?

Las redes neuronales son aproximadores universales, y funcionan mejor si el sistema que está utilizando para modelar tiene una alta tolerancia al error. ¡Por lo tanto, no se recomienda que utilice una red neuronal para equilibrar el talonario de cheques! Sin embargo funcionan muy bien para:


    - Capturar asociaciones o descubrir regularidades dentro de un conjunto de patrones;
    - Donde el volumen, número de variables o diversidad de datos es muy grande;
    - Las relaciones entre las variables se entienden vagamente; o,
    - Las relaciones son difíciles de describir adecuadamente con los enfoques convencionales.

### Limitantes de las ANN

Hay muchas ventajas y limitaciones en el análisis de redes neuronales y para tratar este tema adecuadamente, tendríamos que analizar cada tipo de red individual, lo que no es necesario para esta discusión general. Sin embargo, en referencia a las redes backpropagational, hay algunos problemas específicos que los usuarios potenciales deben conocer.

    - Las redes neuronales de contrapropagación (y muchos otros tipos de redes) son, en cierto sentido, las últimas "cajas negras". Además de definir la arquitectura general de una red y tal vez inicialmente sembrarla con números aleatorios, el usuario no tiene otra función que alimentar la entrada y verla entrenar y esperar la salida. De hecho, se ha dicho que con la propagación hacia atrás, "casi no sabes lo que estás haciendo". Algunos paquetes de software disponibles gratuitamente (NevProp, bp, Mactivation) permiten al usuario probar el "progreso" de las redes a intervalos regulares de tiempo, pero el aprendizaje en sí mismo progresa por sí solo. El producto final de esta actividad es una red entrenada que no proporciona ecuaciones ni coeficientes que definan una relación (como en regresión) más allá de sus propias matemáticas internas. La red 'ES' la ecuación final de la relación.

    - Las redes de backpropagational también tienden a ser más lentas de entrenar que otros tipos de redes y algunas veces requieren miles de épocas. Si se ejecuta en un sistema informático verdaderamente paralelo, este problema no es realmente un problema, pero si la BPNN se está simulando en una máquina serie estándar (es decir, un solo SPARC, Mac o PC), la capacitación puede llevar algún tiempo. Esto se debe a que la CPU de las máquinas debe calcular la función de cada nodo y la conexión por separado, lo que puede ser problemático en redes muy grandes con una gran cantidad de datos. Sin embargo, la velocidad de la mayoría de las máquinas actuales es tal que esto no suele ser un problema.

### Ventajas de las ANN

Dependiendo de la naturaleza de la aplicación y la solidez de los patrones de datos internos, generalmente se puede esperar que una red se capacite bastante bien. Esto se aplica a problemas donde las relaciones pueden ser bastante dinámicas o no lineales. Las ANN proporcionan una alternativa analítica a las técnicas convencionales que a menudo están limitadas por supuestos estrictos de normalidad, linealidad, independencia variable, etc. Debido a que una ANN puede capturar muchos tipos de relaciones, permite al usuario modelar de manera rápida y relativamente fácil fenómenos que de otra manera podrían haber sido muy complejos. Difícil o imposible de explicar de otra manera.

# A codear!

In [97]:
from numpy import exp, array, random, dot

In [98]:
class NeuralNetwork():
    def __init__(self):
        # Fiajamos'/Seed el generador de numeros aleatorios para que 
        #siempre genere el mismo numero cada vez que corremos el codigo.
        random.seed(1)
        
        # Modelamos una sola neurona, con 3 conecciones de entrada y 
        # 1 de salida. Asignamos ponderaciones aleatorias a una matriz de 3 x 1, 
        # con valores en un rango de -1 a 1 y media 0
        self.synaptic_weights = 2 * random.random((3, 1)) - 1

    # La función sigmoidea, que describe una curva en forma de S.
    # Pasamos la suma ponderada de las entradas a través de esta función para
    # normalizarlas entre 0 y 1.
    def __sigmoid(self, x):
        return 1 / (1 + exp(-x))
    
    # La derivada de la función sigmoidea. 
    # Este es el gradiente de la curva sigmoidea. 
    # Indica cuánta confianza tenemos sobre la ponderacion existente.
    def __sigmoid_derivative(self, x):
        return x * (1 - x)
    
    # Entrenamos la red neuronal a través de un proceso de prueba y error. 
    # Ajustando los pesos sinápticos cada vez.
    def train(self, training_set_inputs, training_set_outputs, number_of_training_iterations):
        for iteration in range(number_of_training_iterations):
            # Pasamos nuestro training set a través de nuestra red neuronal (una sola neurona).
            output = self.think(training_set_inputs)
            # Calcula el error (La diferencia entre el output deseado
            # y el output previsto).
            error = training_set_outputs - output
            
            # Multiplica el error por el input y nuevamente por el gradiente de la curva Sigmoide. 
            # Esto significa que las ponderaciones con menos confianza se ajustan más. 
            # Esto significa que los inputs, que son cero, no causan cambios en los pesos.
            adjustment = dot(training_set_inputs.T, error * self.__sigmoid_derivative(output))
            # Ajustamos la ponderacion
            self.synaptic_weights += adjustment

    # La red ANN comienza a pensar
    def think(self, inputs):
        # Pasa los inputs por nuestra ANN (una sola neurona)
        return self.__sigmoid(dot(inputs, self.synaptic_weights))

In [99]:
if __name__ == "__main__":
    
    # Iniciamos una sola red neuronal neuronal.
    neural_network = NeuralNetwork()

    print("Random starting synaptic weights: ")
    print(neural_network.synaptic_weights)
    
    # El Training set. Tenemos 4 ejemplos, cada uno consta de 3 inputs y 1 output.
    training_set_inputs = array([[0, 0, 1], [1, 1, 1], [1, 0, 1], [0, 1, 1]])
    training_set_outputs = array([[0, 1, 1, 0]]).T
    
    # Entrena la red neuronal utilizando el training set. Hazlo 10,000 veces y haz pequeños ajustes cada vez.
    neural_network.train(training_set_inputs, training_set_outputs, 10000)

    print("New synaptic weights after training: ")
    print(neural_network.synaptic_weights)

    # Probar la red neuronal con una nueva situación. 
    print("Considering new situation [1, 0, 0] -> ?: ")
    print(neural_network.think(array([1, 0, 0])))

Random starting synaptic weights:
[[-0.16595599]
 [ 0.44064899]
 [-0.99977125]]
New synaptic weights after training:
[[ 9.67299303]
 [-0.2078435 ]
 [-4.62963669]]
Considering new situation [1, 0, 0] -> ?:
[0.99993704]

### La version corta

In [100]:
training_set_inputs = array([[0, 0, 1], [1, 1, 1], [1, 0, 1], [0, 1, 1]])
training_set_outputs = array([[0, 1, 1, 0]]).T
random.seed(1)
synaptic_weights = 2 * random.random((3, 1)) - 1
for iteration in range(10000):
    output = 1 / (1 + exp(-(dot(training_set_inputs, synaptic_weights))))
    synaptic_weights += dot(training_set_inputs.T, (training_set_outputs - output) * output * (1 - output))
print(1 / (1 + exp(-(dot(array([1, 0, 0]), synaptic_weights)))))

[0.99993704]

### Como interpretamos esto?

    - Dado que el dataset es ridiculamente chico toma milisegundos en procesar
    - Nuestas ponderaciones se actualizaron solos a traves de 10000 iteraciones (backpropagation)
    - Cuando el proceso termino nos dijo que el resultado seguramente era un 1

### Resumen de todo esto

Con todo lo anterior podemos concluir que las __ANN__ son utiles en una gran variedad de tareas y en casos muy especificos sobrepasan a sus contrapartes mamiferas en tareas que creiamos que solo nosotros podiamos hacer aun nivel muy elevado, como:

    - Vision
    - Text to speech
    - Speech to text
    
Todo esto se logra sin la necesidad de una manifestacion fisica de las __ANN__ y solo esta representada en transistores a base de silicio!

Para recordar:

    - Una ANN es un algoritmo(basado en la biologia mamifera) que aprende a identificar patrones en un dataset
    
    -  Backpropagation es una tecnica para entrenar una ANN acutalizando las ponderaciones via una gradiente descendiente
    
    - Deep learning = ANN con cientos o miles de layers + Big Data + Big Compute