# Cuarto Workshop

Para revisar el workshop anterior lo puedes hacer [aqui](http://bit.ly/2quuH4c)

### Pytho3(Parte 3)

#### Manipulacion de listas

En Python al igual que podemos crear listas, tambien las podemos manipular ya sea insertando, quitando, encontrando, contando, ordenando y revirtiendo el contenido de las mismas. Recordemos que a diferencia de los tupples, las listas son mutables. Un ejemplo:

In [17]:
# una lista de ejemplo
x = [1,6,3,2,6,1,2,6,7]

In [18]:
# append para insertar datos al final de la lista
x.append(55)
print(x)

[1, 6, 3, 2, 6, 1, 2, 6, 7, 55]

Podemos observar que al igual que en un documento, la funcion append() inserta contenido al final del texto previo. Que tal si queremos insertar en un lugar especifico?

In [19]:
x.insert(2,33)
print(x)

[1, 6, 33, 3, 2, 6, 1, 2, 6, 7, 55]

Como podemos ver insertamos el numero 33 en el lugar 2(tercer lugar dado que se cuenta desde 0). Ahora vamos a usar remove() para quitar datos.

In [20]:
x.remove(6)
print(x)

[1, 33, 3, 2, 6, 1, 2, 6, 7, 55]

Como podemos ver hemos eliminado el numero 6 de la lista, si quermos eliminar un digito que no existe en la lista nos marcara el siguiente error

In [21]:
x.remove(120)
print(x)

ValueError: list.remove(x): x not in list

Si queremos eliminar via el indice o 'lugar' que un objeto ocupa en la lista podemos usar del:

In [22]:
del x[7]
print(x)

[1, 33, 3, 2, 6, 1, 2, 7, 55]

Para referencias un objeto via el indice:

In [23]:
print(x[1])

33

In [24]:
print(x.index(1))

0

Como podemos ver se imprime el indice del numero 1 en este caso 0 pero de igual manera tenemos otro 1 en la lista, en casos como estos vale la pena contar cuantos numero 1 tenemos en nustra lista

In [25]:
print(x.count(1))

2

Si queremos ordenar una lista podemos hacer:

In [30]:
x.sort()
print(x)

[1, 1, 2, 2, 3, 6, 7, 33, 55]

In [31]:
x.reverse()
print(x)

[55, 33, 7, 6, 3, 2, 2, 1, 1]

De igual manera lo podemos lograr asi:

In [32]:
x.sort(reverse=False)
print(x)
x.sort(reverse=True)
print(x)

[1, 1, 2, 2, 3, 6, 7, 33, 55]
[55, 33, 7, 6, 3, 2, 2, 1, 1]

#### Listas multidimensionales

Las listas multidimensionales son basicamente listas dentro de listas, rara vez encontraras en el mundo real un script que haga uso de ellas, los diccionarios son una mejor opcion.

In [33]:
x = [[2,6],[6,2],[8,2],[5,12]]
print(x[2])

[8, 2]

In [34]:
# vamos a imprimir el segundo elemento dentro de la tercera lista
print(x[2][1])

2

In [35]:
# En caso de que quieras hacer uso de listas multidimensionales es mejor presentarlas de este modo
y = [[5,2],
     [6,2],
     [3,1],
     [12,6]
    ]

In [36]:
print(y)

[[5, 2], [6, 2], [3, 1], [12, 6]]

#### Leyendo un CSV

Un archivo CSV(Comma Separated Value) es un tipo de archivo muy comun cuando estamos trabajando con Python, la coma se conoce como '_delimiter_'. Un par de ejemplos:

In [51]:
# ejemplo simple de como leer un csv hacia la memoria
import csv

with open('./data/ejemplo.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    for row in readCSV:
        print(row)
        print(row[0])
        print(row[0],row[1],row[2],row[3])

['1/2/2014', '5', '8', 'rojo']
1/2/2014
1/2/2014 5 8 rojo
['1/3/2014', '5', '2', 'verde']
1/3/2014
1/3/2014 5 2 verde
['1/4/2014', '9', '1', 'azul']
1/4/2014
1/4/2014 9 1 azul

Como podemos observar leimos el archivo csv e iteramos e imprimios el contenido de todas sus filas.

In [46]:
with open('./data/ejemplo.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    dates = []
    colors = []
    for row in readCSV:
        color = row[3]
        date = row[0]

        dates.append(date)
        colors.append(color)

    print(dates)
    print(colors)

['1/2/2014', '1/3/2014', '1/4/2014']
['rojo', 'verde', 'azul']

Aqui agregamos el contenido del archivo csv a una variable. Que podriamos hacer con un archivo csv:

In [53]:
with open('./data/ejemplo.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    dates = []
    colors = []
    for row in readCSV:
        color = row[3]
        date = row[0]

        dates.append(date)
        colors.append(color)

    print(dates)
    print(colors)

    # recordemos las listas

    whatColor = input('Escoge un color para saber la fecha:')
    coldex = colors.index(whatColor)
    theDate = dates[coldex]
    print('La fecha del',whatColor,'es:',theDate)

['1/2/2014', '1/3/2014', '1/4/2014']
['rojo', 'verde', 'azul']
Escoge un color para saber la fecha:rojo
La fecha del rojo es: 1/2/2014

#### Manejo de errores con Try y con Except

Try y Except existen para manejar errores en Python, los podemos entender como un if-else statement en donde si usamos Try el segmento de codigo se ejecutara, y el Except no.

### PySpark

In [41]:
import pyspark as spark
from pyspark import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [39]:
sc = SparkContext.getOrCreate()

In [5]:
data_ejemplo = sc.parallelize([('Asus', 100), ('Apple', 300), ('Acer', 150)])
print(data_ejemplo)

ParallelCollectionRDD[1] at parallelize at PythonRDD.scala:195

In [6]:
data_ejemplo = sc.parallelize([('Asus', 100), ('Apple', 300), ('Acer', 150)]).collect()
print(data_ejemplo)

[('Asus', 100), ('Apple', 300), ('Acer', 150)]

In [7]:
data_ejemplo[2]

('Acer', 150)

In [13]:
spark = SparkSession\
.builder\
.appName('Intro_Spark')\
.config('spark.some.config.option', 'some-value')\
.getOrCreate()

In [14]:
df = spark.read.csv('./data/creditcard.csv')

In [16]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)
 |-- _c28: string (nullable = true)
 |-- _c29: string (nullable = true)
 |-- _c30: string (nullable = true)

In [17]:
df.head()

Row(_c0='Time', _c1='V1', _c2='V2', _c3='V3', _c4='V4', _c5='V5', _c6='V6', _c7='V7', _c8='V8', _c9='V9', _c10='V10', _c11='V11', _c12='V12', _c13='V13', _c14='V14', _c15='V15', _c16='V16', _c17='V17', _c18='V18', _c19='V19', _c20='V20', _c21='V21', _c22='V22', _c23='V23', _c24='V24', _c25='V25', _c26='V26', _c27='V27', _c28='V28', _c29='Amount', _c30='Class')

In [18]:
df.count()

284808

In [19]:
df.describe().show()

+-------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|summary|               _c0|                 _c1|                 _c2|                 _c3|                 _c4|                 _c5|                 _c6|                 _c7|                 _c8|                 _c9|                _c10|                _c11|                _c12|                _c13|                _c14|                _c15|                _c16|                _c17|                _c18|                _c19|                _c20|                _c21|                _c22|                _c23|                _c24|                _c25|                _c26|                _c27|                _c28|             _c29|                _c30|
+-------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|  count|            284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|              284808|           284808|              284808|
|   mean| 94813.85957508067|2.235360406313924...|6.865749819392767...|-5.82471054445228...|2.011824365682531...|3.704311530463074...|1.140033807220101...|-1.14961392324716...|-2.9538691083434E-16|-2.08207854988096...|2.145945990061367...|-1.27734880360795...|-3.30833340134460...|1.034652530922445...|1.708454024825641...|5.933285192758958...|1.394705224939437...|-2.87403480811790...|1.749967860942900...|9.38053027649593E-16|3.81607955077877E-16|2.850084518050253...|-7.66409282164773...| 2.9538691083434E-16|4.454953538333312...|1.034652530922445...|1.808246900107513...|-3.52368642620288...|-1.13364706320206...| 88.3496192509521|0.001727485630620034|
| stddev|47488.145954566324|  1.9586958038574904|  1.6513085794769997|  1.5162550051777732|   1.415868574940927|   1.380246734031437|  1.3322710897575714|  1.2370935981826632|  1.1943529026692048|  1.0986320892243222|  1.0888497654025215|  1.0207130277115581|  0.9992013895301415|  0.9952742301251558|  0.9585956112570617|  0.9153160116104389|  0.8762528873883704|    0.84933706367439|  0.8381762095288453|  0.8140405007685797|  0.7709250248871159|  0.7345240143713125|  0.7257015604409107|  0.6244602955949898|  0.6056470678271603|  0.5212780705409427| 0.48222701326105666|  0.4036324949650313| 0.33008326416025036|250.1201092401885|0.041527189635464985|
|    min|                 0|-0.00012931370800...|-0.00010296722561...|-0.00010859127517...|-0.00011921826106...|-0.00010366562678...|-0.00010234903761...|-0.00010533581684...|-0.00010065655617...|-0.00010181309940...|-0.00010546343208...|-0.00010815155961...|-0.00010708756424...| -0.0001012565441717|-0.00011026584350728|-0.00010544999800...|-0.00010218720356...|-0.00010491602545428|-0.00010486089568...|-0.00010590824777...|-0.00010321507601...|-0.00010275802070302|-0.00011087523222...|-0.00010305543062...|-0.00010489042033...|-0.00010530735344...|-0.00011466656096...|-0.00010053247847...|-0.00010022573314...|                0|                   0|
|    max|              Time|                  V1|                  V2|                  V3|                  V4|                  V5|                  V6|                  V7|                  V8|                  V9|                 V10|                 V11|                 V12|                 V13|                 V14|                 V15|                 V16|                 V17|                 V18|                 V19|                 V20|                 V21|                 V22|                 V23|                 V24|                 V25|                 V26|                 V27|                 V28|           Amount|               Class|
+-------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+

In [20]:
df.dropna().count()

284808

In [21]:
df.fillna(-1).show()

+----+------------------+-------------------+------------------+-------------------+-------------------+-------------------+--------------------+-------------------+------------------+-------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+--------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+------+-----+
| _c0|               _c1|                _c2|               _c3|                _c4|                _c5|                _c6|                 _c7|                _c8|               _c9|               _c10|              _c11|              _c12|               _c13|               _c14|              _c15|               _c16|                _c17|               _c18|               _c19|               _c20|                _c21|               _c22|               _c23|               _c24|               _c25|               _c26|                _c27|               _c28|  _c29| _c30|
+----+------------------+-------------------+------------------+-------------------+-------------------+-------------------+--------------------+-------------------+------------------+-------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+--------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+------+-----+
|Time|                V1|                 V2|                V3|                 V4|                 V5|                 V6|                  V7|                 V8|                V9|                V10|               V11|               V12|                V13|                V14|               V15|                V16|                 V17|                V18|                V19|                V20|                 V21|                V22|                V23|                V24|                V25|                V26|                 V27|                V28|Amount|Class|
|   0|  -1.3598071336738|-0.0727811733098497|  2.53634673796914|   1.37815522427443| -0.338320769942518|  0.462387777762292|   0.239598554061257| 0.0986979012610507| 0.363786969611213| 0.0907941719789316|-0.551599533260813|-0.617800855762348| -0.991389847235408| -0.311169353699879|  1.46817697209427| -0.470400525259478|   0.207971241929242| 0.0257905801985591|  0.403992960255733|  0.251412098239705|  -0.018306777944153|  0.277837575558899| -0.110473910188767| 0.0669280749146731|  0.128539358273528| -0.189114843888824|   0.133558376740387|-0.0210530534538215|149.62|    0|
|   0|  1.19185711131486|   0.26615071205963|  0.16648011335321|  0.448154078460911| 0.0600176492822243|-0.0823608088155687| -0.0788029833323113| 0.0851016549148104|-0.255425128109186| -0.166974414004614|  1.61272666105479|  1.06523531137287|   0.48909501589608| -0.143772296441519| 0.635558093258208|  0.463917041022171|  -0.114804663102346| -0.183361270123994| -0.145783041325259|-0.0690831352230203|  -0.225775248033138| -0.638671952771851|  0.101288021253234| -0.339846475529127|  0.167170404418143|  0.125894532368176|-0.00898309914322813| 0.0147241691924927|  2.69|    0|
|   1| -1.35835406159823|  -1.34016307473609|  1.77320934263119|  0.379779593034328| -0.503198133318193|   1.80049938079263|   0.791460956450422|  0.247675786588991| -1.51465432260583|  0.207642865216696| 0.624501459424895| 0.066083685268831|  0.717292731410831| -0.165945922763554|  2.34586494901581|  -2.89008319444231|    1.10996937869599| -0.121359313195888|  -2.26185709530414|  0.524979725224404|   0.247998153469754|  0.771679401917229|  0.909412262347719| -0.689280956490685| -0.327641833735251| -0.139096571514147| -0.0553527940384261|-0.0597518405929204|378.66|    0|
|   1|-0.966271711572087| -0.185226008082898|  1.79299333957872| -0.863291275036453|-0.0103088796030823|   1.24720316752486|    0.23760893977178|  0.377435874652262| -1.38702406270197|-0.0549519224713749|-0.226487263835401| 0.178228225877303|  0.507756869957169|  -0.28792374549456|-0.631418117709045|   -1.0596472454325|  -0.684092786345479|   1.96577500349538|   -1.2326219700892| -0.208037781160366|  -0.108300452035545|0.00527359678253453| -0.190320518742841|  -1.17557533186321|  0.647376034602038| -0.221928844458407|  0.0627228487293033| 0.0614576285006353| 123.5|    0|
|   2| -1.15823309349523|  0.877736754848451|    1.548717846511|  0.403033933955121| -0.407193377311653| 0.0959214624684256|   0.592940745385545| -0.270532677192282| 0.817739308235294|  0.753074431976354|-0.822842877946363|  0.53819555014995|    1.3458515932154|  -1.11966983471731| 0.175121130008994| -0.451449182813529|  -0.237033239362776|-0.0381947870352842|  0.803486924960175|  0.408542360392758|-0.00943069713232919|   0.79827849458971| -0.137458079619063|  0.141266983824769| -0.206009587619756|  0.502292224181569|   0.219422229513348|  0.215153147499206| 69.99|    0|
|   2|-0.425965884412454|  0.960523044882985|  1.14110934232219| -0.168252079760302|   0.42098688077219|-0.0297275516639742|   0.476200948720027|  0.260314333074874| -0.56867137571251| -0.371407196834471|  1.34126198001957| 0.359893837038039| -0.358090652573631| -0.137133700217612| 0.517616806555742|  0.401725895589603| -0.0581328233640131| 0.0686531494425432|-0.0331937877876282| 0.0849676720682049|  -0.208253514656728| -0.559824796253248|-0.0263976679795373| -0.371426583174346| -0.232793816737034|  0.105914779097957|   0.253844224739337| 0.0810802569229443|  3.67|    0|
|   4|  1.22965763450793|  0.141003507049326|0.0453707735899449|   1.20261273673594|  0.191880988597645|  0.272708122899098|-0.00515900288250983| 0.0812129398830894| 0.464959994783886|-0.0992543211289237| -1.41690724314928|-0.153825826253651|  -0.75106271556262|   0.16737196252175|0.0501435942254188| -0.443586797916727| 0.00282051247234708|  -0.61198733994012|-0.0455750446637976|  -0.21963255278686|  -0.167716265815783| -0.270709726172363| -0.154103786809305| -0.780055415004671|   0.75013693580659| -0.257236845917139|  0.0345074297438413|0.00516776890624916|  4.99|    0|
|   7|-0.644269442348146|   1.41796354547385|   1.0743803763556| -0.492199018495015|  0.948934094764157|  0.428118462833089|    1.12063135838353|  -3.80786423873589| 0.615374730667027|   1.24937617815176|-0.619467796121913| 0.291474353088705|   1.75796421396042|  -1.32386521970526| 0.686132504394383|-0.0761269994382006|    -1.2221273453247| -0.358221569869078|  0.324504731321494| -0.156741852488285|    1.94346533978412|  -1.01545470979971|  0.057503529867291| -0.649709005559993| -0.415266566234811|-0.0516342969262494|   -1.20692108094258|  -1.08533918832377|  40.8|    0|
|   7| -0.89428608220282|  0.286157196276544|-0.113192212729871| -0.271526130088604|    2.6695986595986|   3.72181806112751|   0.370145127676916|  0.851084443200905|-0.392047586798604| -0.410430432848439|-0.705116586646536|-0.110452261733098| -0.286253632470583| 0.0743553603016731|-0.328783050303565| -0.210077268148783|  -0.499767968800267|  0.118764861004217|   0.57032816746536| 0.0527356691149697| -0.0734251001059225| -0.268091632235551| -0.204232669947878|    1.0115918018785|  0.373204680146282| -0.384157307702294|  0.0117473564581996|   0.14240432992147|  93.2|    0|
|   9| -0.33826175242575|   1.11959337641566|  1.04436655157316| -0.222187276738296|   0.49936080649727|  -0.24676110061991|   0.651583206489972| 0.0695385865186387|-0.736727316364109| -0.366845639206541|  1.01761446783262| 0.836389570307029|   1.00684351373408| -0.443522816876142| 0.150219101422635|  0.739452777052119|  -0.540979921943059|   0.47667726004282|  0.451772964394125|  0.203711454727929|  -0.246913936910008| -0.633752642406113|  -0.12079408408185| -0.385049925313426|-0.0697330460416923| 0.0941988339514961|   0.246219304619926| 0.0830756493473326|  3.68|    0|
|  10|  1.44904378114715|  -1.17633882535966| 0.913859832832795|  -1.37566665499943|  -1.97138316545323|  -0.62915213889734|    -1.4232356010359| 0.0484558879088564| -1.72040839292037|   1.62665905834133|   1.1996439495421|-0.671439778462005| -0.513947152539479|-0.0950450453999549| 0.230930409124119| 0.0319674667862076|   0.253414715863197|  0.854343814324194| -0.221365413645481| -0.387226474431156|-0.00930189652490052|  0.313894410791098| 0.0277401580170247|  0.500512287104917|   0.25136735874921| -0.129477953726618|  0.0428498709381461| 0.0162532619375515|   7.8|    0|
|  10|  0.38497821518095|  0.616109459176472|-0.874299702595052|-0.0940186259679115|   2.92458437838817|   3.31702716826156|   0.470454671805879|   0.53824722837695|-0.558894612428441|   0.30975539423728|-0.259115563735702|-0.326143233995877|-0.0900467227020648|  0.362832368569793| 0.928903660629178| -0.129486811402759|  -0.809978925963589|  0.359985390219981|   0.70766382644648|   0.12599157561542|   0.049923685888971|  0.238421512225103|0.00912986861262866|  0.996710209581086| -0.767314827174801| -0.492208295340017|   0.042472441919027|-0.0543373883732122|  9.99|    0|
|  10|    1.249998742053|  -1.22163680921816| 0.383930151282291|  -1.23489868766892|  -1.48541947377961| -0.753230164566149|  -0.689404975426345| -0.227487227519552| -2.09401057344842|   1.32372927445937| 0.227666231237246|-0.242681998944186|   1.20541680770748| -0.317630527025074| 0.725674990179153| -0.815612186027305|   0.873936447614439| -0.847788598847099| -0.683192626267037| -0.102755941505071|  -0.231809239223849| -0.483285330117712| 0.0846676908596583|  0.392830885335013|  0.161134553588505| -0.354990039673962|  0.0264155490776107| 0.0424220887282304| 121.5|    0|
|  11|   1.0693735878819|  0.287722129331455| 0.828612726634281|   2.71252042961718| -0.178398016248009|  0.337543730282968| -0.0967168617395962|  0.115981735546597|-0.221082566236194|  0.460230444301678|-0.773656930526689|  0.32338724546722|-0.0110758870883779| -0.178485175177916| -0.65556427824926|  -0.19992517131173|     0.1240054151819| -0.980496201537345| -0.982916082135047| -0.153197231044512| -0.0368755317335273| 0.0744124028162195|-0.0714074332998586|  0.104743752596029|  0.548264725394119|  0.104094153162781|  0.0214910583643189|  0.021293311477486|  27.5|    0|
|  12|  -2.7918547659339| -0.327770756658658|  1.64175016056605|   1.76747274389883| -0.136588446465306|   0.80759646826532|  -0.422911389711497|  -1.90710747624096| 0.755712908314791|    1.1510869876677| 0.844555470974377|   0.7929439518176|  0.370448092803246| -0.734975105820311| 0.406795710431001| -0.303057623825763|  -0.155868714793874|  0.778265457041536|   2.22186801373788|  -1.58212204356551|    1.15166304848789|  0.222181966098225|   1.02058620426601| 0.0283166513238872| -0.232746324289105|  -0.23555721754117|   -0.16477751177654|-0.0301536365592253|  58.8|    0|
|  12|-0.752417042956605|  0.345485415344747|  2.05732291276727|  -1.46864329840046|   -1.1583936804082|-0.0778498291166733|  -0.608581418236123|0.00360348436201849|-0.436166983515744|  0.747730827192802|-0.793980602837221|-0.770406728847129|   1.04762699748088|  -1.06660368148653|  1.10695345662141|   1.66011355713381|  -0.279265373246772| -0.419994141181313|  0.432535348618175|  0.263450864446125|   0.499624954671111|   1.35365048557231| -0.256573280448308|-0.0650837078816517|-0.0391243535426488|-0.0870864732146962|  -0.180997500092721|  0.129394059390202| 15.99|    0|
|  12|  1.10321543528383|-0.0402962145973447|   1.2673320885949|   1.28909146962552| -0.735997163604068|  0.288069162976262|  -0.586056786337461|  0.189379713679593| 0.782332891785191| -0.267975066537173|-0.450311279515466| 0.936707714991982|  0.708380406186981| -0.468647287707221| 0.354574063407955| -0.246634655717582|-0.00921237772707382| -0.595912405700819|  -0.57568162226261| -0.113910176982092| -0.0246120063374677|  0.196001952806192| 0.0138016541409422|  0.103758331023198|  0.364297540595235| -0.382260574113217|   0.092809187460487| 0.0370505169810008| 12.99|    0|
|  13|-0.436905071360625|  0.918966212909322|  0.92459077438817| -0.727219053596792|  0.915678718106307| -0.127867352079254|   0.707641607333935| 0.0879623554672504| -0.66527135413364| -0.737979823596458|  0.32409781346169| 0.277192107214981|  0.252624256310781| -0.291896460370468|-0.184520169327133|   1.14317370716197|   -0.92870926272403|  0.680469592634687| 0.0254364616880793|-0.0470212823165035|  -0.194795823794671| -0.672637997017793| -0.156857514491897| -0.888386320943716| -0.342413218776576| -0.049026728633951|  0.0796923991551505|  0.131023789452311|  0.89|    0|
|  14| -5.40125766315825|  -5.45014783420644|  1.18630463143652|   1.73623880012095|   3.04910587764025|  -1.76340557365201|   -1.55973769907953|  0.160841747266769|  1.23308974041888|  0.345172827050629| 0.917229867699146| 0.970116716069048| -0.266567764915222| -0.479129929276704|-0.526608502569153|   0.47200411177674|  -0.725480944982201|  0.075081351540202| -0.406866573198217|  -2.19684802485647|  -0.503600328973703|  0.984459785590244|   2.45858857639219| 0.0421188969891572| -0.481630823956716| -0.621272013713977|   0.392053289557744|  0.949594245504846|  46.8|    0|
+----+------------------+-------------------+------------------+-------------------+-------------------+-------------------+--------------------+-------------------+------------------+-------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+--------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+------+-----+
only showing top 20 rows

In [42]:
sc = SparkContext.getOrCreate(SparkConf())
rdd = sc.textFile('./data/cal_housing.data')

In [43]:
df = rdd.map(lambda line: Row(longitude=line[0],
                             lattitude=line[1],
                             housingMedianAge=line[2],
                             totalRooms=line[3],
                             totalBedRooms=line[4],
                             population=line[5],
                             households=line[6],
                             medianIncome=line[7],
                             medianHouseValue=line[8])).toDF()

In [44]:
df.columns

['households',
 'housingMedianAge',
 'lattitude',
 'longitude',
 'medianHouseValue',
 'medianIncome',
 'population',
 'totalBedRooms',
 'totalRooms']

In [45]:
df.count()

20640

In [46]:
df.describe().show()

+-------+------------------+------------------+--------------------+---------+----------------+------------+------------------+-------------+------------------+
|summary|        households|  housingMedianAge|           lattitude|longitude|medianHouseValue|medianIncome|        population|totalBedRooms|        totalRooms|
+-------+------------------+------------------+--------------------+---------+----------------+------------+------------------+-------------+------------------+
|  count|             20640|             20640|               20640|    20640|           20640|       20640|             20640|        20640|             20640|
|   mean|  4.54312015503876|1.3976259689922481|                 1.0|     null|             0.0|         0.0|3.8197674418604652|         null| 5.166036821705426|
| stddev|2.8731404333087864|0.4894192098469657|5.551249498454005...|     null|             0.0|         0.0|2.9232932518639436|         null|3.1499808830444445|
|    min|                 0|                 1|                   1|        -|               0|           0|                 0|            .|                 0|
|    max|                 9|                 2|                   1|        -|               0|           0|                 9|            .|                 9|
+-------+------------------+------------------+--------------------+---------+----------------+------------+------------------+-------------+------------------+

In [47]:
df.show()

+----------+----------------+---------+---------+----------------+------------+----------+-------------+----------+
|households|housingMedianAge|lattitude|longitude|medianHouseValue|medianIncome|population|totalBedRooms|totalRooms|
+----------+----------------+---------+---------+----------------+------------+----------+-------------+----------+
|         3|               2|        1|        -|               0|           0|         2|            .|         2|
|         2|               2|        1|        -|               0|           0|         2|            .|         2|
|         4|               2|        1|        -|               0|           0|         2|            .|         2|
|         5|               2|        1|        -|               0|           0|         2|            .|         2|
|         5|               2|        1|        -|               0|           0|         2|            .|         2|
|         5|               2|        1|        -|               0|           0|         2|            .|         2|
|         5|               2|        1|        -|               0|           0|         2|            .|         2|
|         5|               2|        1|        -|               0|           0|         2|            .|         2|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|
|         5|               2|        1|        -|               0|           0|         2|            .|         2|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|
|         7|               2|        1|        -|               0|           0|         2|            .|         2|
|         7|               2|        1|        -|               0|           0|         2|            .|         2|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|
|         7|               2|        1|        -|               0|           0|         2|            .|         2|
+----------+----------------+---------+---------+----------------+------------+----------+-------------+----------+
only showing top 20 rows

In [48]:
df.select('households', 'population').show()

+----------+----------+
|households|population|
+----------+----------+
|         3|         2|
|         2|         2|
|         4|         2|
|         5|         2|
|         5|         2|
|         5|         2|
|         5|         2|
|         5|         2|
|         6|         2|
|         5|         2|
|         6|         2|
|         6|         2|
|         6|         2|
|         6|         2|
|         6|         2|
|         6|         2|
|         7|         2|
|         7|         2|
|         6|         2|
|         7|         2|
+----------+----------+
only showing top 20 rows

In [49]:
from pyspark.sql.functions import *
housePop = df.select(col('households')/col('population'))

In [50]:
df = df.withColumn('housePop', col('households')/col('population'))

In [51]:
df[9]

Column<b'housePop'>

In [52]:
df.show()

+----------+----------------+---------+---------+----------------+------------+----------+-------------+----------+--------+
|households|housingMedianAge|lattitude|longitude|medianHouseValue|medianIncome|population|totalBedRooms|totalRooms|housePop|
+----------+----------------+---------+---------+----------------+------------+----------+-------------+----------+--------+
|         3|               2|        1|        -|               0|           0|         2|            .|         2|     1.5|
|         2|               2|        1|        -|               0|           0|         2|            .|         2|     1.0|
|         4|               2|        1|        -|               0|           0|         2|            .|         2|     2.0|
|         5|               2|        1|        -|               0|           0|         2|            .|         2|     2.5|
|         5|               2|        1|        -|               0|           0|         2|            .|         2|     2.5|
|         5|               2|        1|        -|               0|           0|         2|            .|         2|     2.5|
|         5|               2|        1|        -|               0|           0|         2|            .|         2|     2.5|
|         5|               2|        1|        -|               0|           0|         2|            .|         2|     2.5|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|     3.0|
|         5|               2|        1|        -|               0|           0|         2|            .|         2|     2.5|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|     3.0|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|     3.0|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|     3.0|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|     3.0|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|     3.0|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|     3.0|
|         7|               2|        1|        -|               0|           0|         2|            .|         2|     3.5|
|         7|               2|        1|        -|               0|           0|         2|            .|         2|     3.5|
|         6|               2|        1|        -|               0|           0|         2|            .|         2|     3.0|
|         7|               2|        1|        -|               0|           0|         2|            .|         2|     3.5|
+----------+----------------+---------+---------+----------------+------------+----------+-------------+----------+--------+
only showing top 20 rows

In [53]:
from pyspark.mllib.recommendation import ALS, MatrixFactorizationModel, Rating

In [54]:
data = sc.textFile("./data/test.data")
ratings = data.map(lambda l: l.split(','))\
    .map(lambda l: Rating(int(l[0]), int(l[1]), float(l[2])))

In [55]:
rank = 10
numIterations = 10
model = ALS.train(ratings, rank, numIterations)

In [56]:
testdata = ratings.map(lambda p: (p[0], p[1]))
predictions = model.predictAll(testdata).map(lambda r: ((r[0], r[1]), r[2]))
ratesAndPreds = ratings.map(lambda r: ((r[0], r[1]), r[2])).join(predictions)
MSE = ratesAndPreds.map(lambda r: (r[1][0] - r[1][1])**2).mean()
print("Mean Squared Error = " + str(MSE))

Mean Squared Error = 8.95557714434518e-06

In [57]:
model.save(sc, "target/tmp/myCollaborativeFilter")
sameModel = MatrixFactorizationModel.load(sc, "target/tmp/myCollaborativeFilter")